[2017-05-14 09:31] stevenroose opened #1 "Allow specifying location-specific smartphone adoption ratio"
What if I'm in a country/area where I know that 90% of people have smartphones? A flag to specify the ratio would be greatly appreciated :)

[2017-05-14 11:32] 0xae opened #2 "compat with python2"
Soo, this runs on python2 or what ?

[2017-05-14 12:27] arne-cl commented on #2
On my machine, it doesn't:

[code]

[2017-05-14 13:29] schollz commented on #2
It looks like its just shlex that is a problem. I could easily remove that dependency as someone mentioned to me that its possible to do sanitization without it.

@0xae would you rather use Python2 or should I just put a badge labeling this as a Python3.3+ project?

[2017-05-14 13:31] schollz commented on #1
Good idea, I can do that (or maybe you'd like to sent a PR :) ).

Currently there is only a flag (not in README right now) `--nocorrection` that does not apply the correction.

[2017-05-14 14:01] #2 closed

[2017-05-14 14:09] stevenroose commented on #1
Oh. Well for a 100% smartphone adoption ratio, that's perfect :) Which I assume anyway, especially if you're not that interested in counting the toddlers that are basically the only people without smartphones in western societies nowadays..

[2017-05-14 14:14] carstenschwede opened #3 "Does not detect associated smart phones."
Thanks for the software, much appreciated!

AFAIK smart phones will only issue probe request when they are not currently connected to an access point. This might lead to a severe underestimation of the number of smart phones in areas where most phones are connected to an AP (e.g. bars with open WiFi, universities, ...). Not sure how this applies to Bluetooth.

Maybe this is worth a note in the REA

[2017-05-14 15:47] kootenpv opened #4 "What is legality of monitoring traffic for mac addresses"
Hey, nice job on this :) I just wanted to mention that in case you are not aware, it is against the law to sniff packets. The only exception is to sniff on **your own network**, and only to **protect** it.

It is unfortunate, otherwise it would be really nice to come up with ways to use it!

At least you should put a "big fat" warning that the use of sniffing is most likely be illegal.

[2017-05-14 16:13] 0xae commented on #2
Halo there @schollz
I've tested and it works like a charm
thanks,

[2017-05-14 16:25] schollz commented on #4
Hi @kootenpv! Thanks for that. Do you know any legal precedent that this type of sniffing violates [Section 18 U.S. Code § 2511](https://www.law.cornell.edu/uscode/text/18/2511)?

I don't need legal advice. I'm just curious whether "to intercept...electronic communication" applies to this since it is only looking at mac addresses and signal strengths and not actually investigating any of the packe

[2017-05-14 16:35] kootenpv commented on #4
Hi @schollz. The fact that you are not concerned does not mean you shouldn't put out a warning for people using your software if there is risk involved :)

Some people might live under other laws and they might be put in "danger".

I understand what you're saying w.r.t. meta-data vs data, and I do believe it is a valid point.

Very interesting to read your sources!

[2017-05-14 16:41] schollz commented on #4
Added: https://github.com/schollz/howmanypeoplearearound/commit/28cac50816d4141511c0fa8a3796c2bd22ead3be

Absolutely, I totally agree. I never thought about this but I'm also going to add a notice to https://github.com/schollz/find-lf.

I also put this question to [the wireshark community](https://ask.wireshark.org/questions/61388/is-it-illegal-to-use-tshark).

[2017-05-14 18:05] carstenschwede commented on #3
Interesting. I remember this being the case for an iPhone 4. Maybe the intervals get longer once the smart phone is connected - I don't think that I waited more than a couple of minutes and I probably wrongly deduced that they won't send out any requests at all. I will check again with my current phone.

[2017-05-14 20:10] diogocp commented on #4
IANAL, but if you walk down the street with your smartphone in your pocket with Wi-Fi turned on, you will be "intercepting" thousands of packets from networks that you have no right to connect to.

[2017-05-15 03:25] hadsed opened #5 "Would this work on a macbook pro?"

[2017-05-15 05:54] kevchentw commented on #5
yes, I have tested successfully on my MacBook Pro with build-in wifi.

[2017-05-15 08:31] wouterds opened #6 "Docker image?"
A Docker image would make it even easier to use, no installing / fiddling around with dependencies :-)!

[2017-05-15 09:33] vanarpsharma commented on #5
I keep getting this in macbook pro: -
```Found no signals, are you sure en1 supports monitor mode?```
any workaround?

[2017-05-15 15:23] schollz commented on #5
It might be a `tshark` permissions issue. Did you allow non-root? You can try running in sudo to see if it works. But, as per the README, you can update `tshark` it so it can be run as non-root:

[code]

You will need to logout and log back in for changes to effect.

[2017-05-15 16:04] brettinternet commented on #5
1. `brew install wireshark`
2. make sure you can run `tshark` without `sudo`.
http://stackoverflow.com/questions/41126943/wireshark-you-dont-have-permission-to-capture-on-that-device-mac

[2017-05-16 05:04] viosey commented on #5
1. brew install wireshark
2. pip install howmanypeoplearearound
3. use `en0` as Specify WiFi adapter (use ifconfig to determine)

[2017-05-16 09:36] diego-vieira commented on #3
It won't detect my Samsung S6 Edge, only Apple devices.

[code]

[2017-05-16 12:41] schollz commented on #3
@diego-vieira Can you try adding the `-v` flag and seeing if anything Samsung related is in the output?

[2017-05-17 08:36] diego-vieira commented on #3
@schollz unfortunately no. Don't worry, might be something with the router or the way Samsung deals with packets dunno.

Here's the log tho.

[code]

[2017-05-18 15:25] haydenth opened #10 "MAC address randomization"
Hey! Cool library. Out of curiosity, how does this handle MAC address randomization? Will it double count?

[2017-05-18 18:18] dangayle opened #11 "wireshark-chmodbpf asking for password"
After the Handbrake fiasco, I'm pretty much not interested in giving an installer my password. Is there a way around this?

![screen shot 2017-05-18 at 11 15 14 am](https://cloud.githubusercontent.com/assets/129611/26217244/8920685e-3bbb-11e7-966a-5676f5337e44.png)

[2017-05-18 22:54] ansell commented on #11
Unfortunately, at some point you will need to give sudo a password, as you need to change the permissions on /dev/bpf* so that you don't need to run Wireshark/etc. as root.

If you are paranoid about installer passwords, you probably don't want to run Wireshark though, given the extra attack surface area that it opens up.

[2017-05-18 22:56] dangayle commented on #11
I'm sure I'll give up caring in a few weeks, like most people who just want to get stuff done. :p

-- Dan

On May 18, 2017, 3:54 PM -0700, Peter Ansell <notifications@github.com>, wrote:

[2017-05-19 03:18] schollz commented on #10
It does not handle MAC address randomization.

To be honest, I can't tell if this matters yet. I haven't seen any MAC randomization take place yet even though the people around me have iPhones and I have a Pixel which all supposedly do randomization. However, in my use-case the phones are affiliated, which, I suppose does not prompt the randomization. But I've run this in a place where people may

[2017-05-19 03:37] ansell opened #12 "Multiple MAC addresses for a single rssi in dumped JSON"
For one timepoint my dumped JSON file contains the following (redacted), with two MAC addresses separated by a comma, where there is usually a single MAC address:

[code]

This causes a syntax issue in the Javascript generated for analysis that looks like the following, causing the analysis to not display:

[code]

Not sure how to replicate it, as I don't have a raw Wireshark dump file matching it

[2017-05-19 03:47] ansell opened #13 "Make OUI check optional"
It would be great if the OUI check was optional, particularly to understand the effects of randomized MAC addresses where they fall outside of the recognised ranges.

[2017-05-19 03:47] ansell commented on #10
The OUI check may be removing some (at least iOS) devices where the randomized mac falls into unrecognised ranges. I opened #13 to track making it optional.

[2017-05-19 06:22] MrAnderson2Neo opened #15 "ModuleNotFoundError: No module named '_curses'"
I am using python 3 on windows, run command in command line like this:
` pip install howmanypeoplearearound`
and finally it shows:
`Successfully installed howmanypeoplearearound-0.3.1 netifaces-0.10.5 pick-0.6.3`
However, when run command:
`howmanypeoplearearound`
failed:
`Traceback (most recent call last):
  File "C:\Users\win10\AppData\Local\Programs\Python\Python36-32\Scripts\howmanypeoplearear

[2017-05-19 13:35] schollz commented on #15
Its a problem with the pick package: https://github.com/wong2/pick/issues/15

Can you try to go around it by using `-a youradapter` ?

[2017-05-19 13:36] schollz commented on #12
Thanks, seems like an easy fix would be to just split on commas for the mac address.

[2017-05-19 14:33] #13 closed

[2017-05-19 14:36] #15 closed

[2017-05-19 14:38] #12 closed

[2017-05-19 14:41] schollz commented on #15
@MrAnderson2Neo its updated now, you can reinstall with

[code]

[2017-05-19 14:41] schollz commented on #13
its updated now, you can reinstall with

[code]

[2017-05-19 14:41] schollz commented on #12
its updated now, you can reinstall with

[code]

[2017-05-20 02:01] cclauss opened #18 "Is rssi calculation correct?"
https://github.com/schollz/howmanypeoplearearound/blob/master/howmanypeoplearearound/__main__.py#L159-L161  Is this correct?  It probably is correct, and my knowledge is weak.  :-(

[2017-05-20 03:08] schollz commented on #18
Ha, its incorrect. Thanks :)

[2017-05-20 06:12] AshayAgrawal opened #19 "Will it detect only certain cellphones"
Help needed- Does its detect only phones listed in the code? It detects wonderfully my HTC phone, but not OnePlus, MI or Xiomi phone.

Issue - The count of cellphones takes into account rssi~0 also, which seems to be incorrect output.

[2017-05-20 10:42] sanketh95 opened #20 "Unable to capture packets [Malformed packet]"
Hi @schollz ,

First of all, great work here. I found this project really interesting.

Getting to the point, I was trying to run the command and it kept saying that no signals were found. I ran the tshark command manually to see what's wrong. It appears that the packets are malformed and I suspect it has something to do with the addition of radiotap headers. See the output below.

Capturing on 'w

[2017-05-20 13:20] schollz commented on #20
It seems [there could be a couple reasons](https://ask.wireshark.org/questions/52190/what-is-the-reason-for-malformed-packet-error) and sounds like you have to investigate with a network trace.

[2017-05-20 13:22] schollz commented on #19
Yes [it detects only a subset of all cellphones](https://github.com/schollz/howmanypeoplearearound/blob/master/howmanypeoplearearound/__main__.py#L172-L183). These cellphones are popular in North America.

If you don't mind, you can add those cell phones to the list in a PR request. You just need to find their OUI name which will be printed if you run `howmanypeoplarearound -v` (which prints ALL t

[2017-05-20 13:40] AshayAgrawal commented on #19
I thought this. Thanks a lot for your help and marvelous project.

It detects the phone OnePlus now. Below is the output when I ran howmanypeoplarearound -v.

(u'00:00:be:47:f1:10', 'THE NTI GROUP', False)
(u'ec:9b:f3:ce:7f:1f', 'SAMSUNG ELECTRO-MECHANICS(THAILAND)', False)
(u'a8:66:7f:1f:1e:38', 'Apple, Inc.', True)
(u'1c:5f:2b:3d:65:70', 'D-Link International', False)
(u'0c:d2:b5:5f:23:14', 'Bin

[2017-05-20 14:30] schollz commented on #19
Try upgrading with `pip install --upgrade howmanypeoplearearound`

[2017-05-20 14:43] schollz commented on #19
I added those two OUIs for cellphones now: https://github.com/schollz/howmanypeoplearearound/commit/41dca3631929d632f64ee45d4609312c64d2a91d

[2017-05-20 14:45] schollz commented on #18
I fixed it now: https://github.com/schollz/howmanypeoplearearound/commit/41dca3631929d632f64ee45d4609312c64d2a91d

[2017-05-20 14:45] #18 closed

[2017-05-20 14:55] AshayAgrawal commented on #19
Thanks Zack.

Also, I got the json,xlsx with more OUIs.
[result.txt](https://github.com/schollz/howmanypeoplearearound/files/1016250/result.txt)
[result.xlsx](https://github.com/schollz/howmanypeoplearearound/files/1016252/result.xlsx)
Do you want me to open a new request for it?

I am also detecting D-Link, which is mostly is a wi-fi router. How will we make sure, we don't mistake a cell phone wi

[2017-05-20 15:11] #19 closed

[2017-05-21 18:54] #6 closed

[2017-05-21 22:51] cclauss commented on #5
Can this issue be closed?

[2017-05-21 23:04] ansell commented on #5
Yes, it works for me on MacbookPro using en0

[2017-05-21 23:15] cclauss commented on #5
@hadsed Can this issue be closed?

[2017-05-24 20:57] cclauss commented on #11
@dangayle You can try the Docker approach.  Can we close this issue or do you see an alternative resolution?

[2017-05-24 21:16] dangayle commented on #11
Oh, docker. I didn't even think of that. Go ahead and close.

-- Dan

On May 24, 2017, 1:57 PM -0700, cclauss <notifications@github.com>, wrote:

[2017-05-24 21:35] #11 closed

[2017-05-24 23:00] ansell commented on #4
@kootenpv just interested to know what the distinction is between MAC addresses and SSID's, such as are required for https://github.com/kootenpv/whereami, where you do not currently warn your users that sniffing this traffic may be illegal?

[2017-05-25 03:04] adamsiem opened #28 "Most Basic Hardware Implementation"
What is the simplest standalone hardware setup you would recommend for this?

What service would you run to be able to access the graphed results on another device's web browser?

[2017-05-25 03:11] schollz commented on #28
A Raspberry Pi 3 with one of these : http://www.tp-link.com/us/download/TL-WN722N.html. Works to about $50.

This is my favorite web hosting server: https://caddyserver.com/. Download and just run `caddy` in the folder with the graphed results and you can access via http://YOUR_IP:2015.

[2017-05-25 03:27] adamsiem commented on #28
Great. Thank you!

Do you know if the ASUS USB-AC51 AC600 is compatible? (It is the most compact.)

Also, what about the Raspberry Pi Zero W? Would that form factor work? With or without a USB network adapter?

[2017-05-25 18:32] schollz commented on #28
Not sure if that ASUS is compatible.
Pi Zero W would work, I think just fine. It needs to also have a WiFi onboard (similar to the Pi 3) so that you can connect to it. The WiFi card that is used for `howmanypeoplearearound` won't allow connections during the scan.

[2017-05-27 08:55] cornishExile commented on #4
UK readers can find a brilliant legal summary, and advice on making MACs anonymous, from the UK Information Commissioners Office (ICO) https://ico.org.uk/media/for-organisations/documents/1560691/wi-fi-location-analytics-guidance.pdf

The 'howmanypeoplearound' situation is specifically dealt with.

Thanks to https://sites-dacb.vuturevx.com/110/3347/landing-pages/ico-produce-wi-fi-analytics-guidanc

[2017-05-27 21:07] kootenpv commented on #4
Maybe I was too paranoid, though I think it is an interesting discussion.

@ansell I did not think about it yet, although the situation is a bit different. Receiving/counting probes of people (this repo) is different from probing access points. As long as your phone is not functioning as an access point (hotspot/tethering), it will not be involved by whereami/FIND.

@cornishExile That's a fantasti

[2017-05-27 21:59] cornishExile commented on #4
@kootenpv yes, it's interesting, isn't it?

Personal data acquisition is OK so long as it has a purpose or benefit to the individual (or group). But I wouldn't worry too much - given that web page adverts can install trackers on devices and lookup Facebook demographics, the bar seems pretty high to me (subjectively speaking).

Some basic privacy questions should be asked of a specific use: "what i

[2017-05-27 22:16] kootenpv commented on #4
Sounds like a case closed to me :)

[2017-05-27 22:16] #4 closed

[2017-05-30 18:46] cclauss commented on #5
@schollz Can you please close this issue?

[2017-05-31 01:53] #5 closed

[2017-05-31 01:54] #28 closed

[2017-06-05 08:32] Y0Username opened #30 "Frequency hopping"
Hey! Nice work!
I have actually used your find-lf code to develop my own verison of howmanypeoplearearound.

It is ofcourse hard to track un-associated MAC addresses because of MAC address randomizaition.
A solution to this could be, we can tack the known SSID list a particular device sends and then we can map the randomized MACs to be the same?

Another main issue I have faced is frquency hopping

[2017-06-05 21:09] schollz commented on #30
I'm not sure I understand - do you mean to test various devices to see what kind of random MACs they send out and then map these back? That seems awfully labor intensive (not to mention you'd have to get your hands on a lot of phones).

That'd be awesome to get something working with airodump-ng! Please let me know if you do, I'd love to incorporate it into this and also find-lf!

[2017-06-05 21:09] schollz commented on #30
device sends and then we can map the randomized MACs to be the same?

I'm not sure I understand - do you mean to test various devices to see what
kind of random MACs they send out and then map these back? That seems
awfully labor intensive (not to mention you'd have to get your hands on a
lot of phones).

That'd be awesome to get something working with airodump-ng! Please let me
know if you do, I'

[2017-06-05 21:29] schollz commented on #20
@sanketh95 were you able to resolve this?

[2017-06-05 21:58] Y0Username commented on #30
No I did not mean to say populate the list of random MACs for each devices.

What is meant to say is:
Expoilting the active scan.
Phones are sending probe request to list of all the SSIDs they have been ever connected to.
Based on this list of SSIDs they send probes requests to, we can identify the spoofed MACs.
If two MACs send the active probe request to same set of SSIDs, they are they same dev

[2017-06-05 22:10] schollz commented on #30
@Y0Username I see! That is very clever!

[2017-06-05 22:29] schollz commented on #10
Here is an interesting paper: https://arxiv.org/pdf/1703.02874.pdf

It seems to suggest that certain phones use a very specific OUI for their randomization, which will allow detecting them as cellphones (though one would be unable to track them individually). It seems that only iPhone has a random MAC address

[2017-06-06 00:16] willyb321 opened #31 "Performance after running for a few days"
I've been running this for about 6 days now, and am literally unable to render the graphs (mainly the bottom one) because of the 2000 something mac addresses its trying to plot. Would it be possible to omit the bottom graph, possibly with a flag or something?

[2017-06-06 00:18] willyb321 commented on #31
Oh I should mention im trying to render it on a machine with 16gb ddr4 / i5-7500.

[2017-06-06 01:12] schollz commented on #31
You must have a busy place. i've noticed the same thing.and your idea is a great solution.

[2017-06-06 01:16] willyb321 commented on #31
Yeah I'm running it at my school for a project.

[2017-06-07 09:46] joecondo opened #32 "OUI"
Hi!
Thanks very much for your work, it's very useful.
I collected some info about oui that may help

Mac that maybe cellphones
Microsoft Corporation", "mac": "48:50:73
Google, Inc.", "mac": "54:60:09

Mac that are cellphones based on scan
TCT mobile ltd", "mac": "cc:fd:17: ( former alcatel)

Mac not present in OUI that is a cellphone based on having the device
"48:db:50": "HUAWEI TECHNOLOGIES CO.,

[2017-06-07 09:48] joecondo opened #33 "target list"
Hi
what about a list of mac address that may fire some actions when seen?
Thanks and Ciao

[2017-06-07 22:59] ansell commented on #32
The "Not in OUI" entries only show up when you ask for --allmacaddresses. They are typically due to MAC randomization, and should be transient.

[2017-06-12 16:01] schollz commented on #33
That is a great idea, but I think it is out of the scope of this project. You could easily run this script using `--loop -o somefile` which will constantly write output to `somefile` and then you could monitor that file for changes and for the hooks that you'd like.

[2017-06-12 23:32] joecondo commented on #33
Hi,
yes this it's what I'm actually working on, monitoring and processing the
json for target search and pushing it to elasticsearch/kibana
Regards
Lorenzo

2017-06-12 18:01 GMT+02:00 Zack <notifications@github.com>:

--
_________________________GM
Lorenzo Dina

Nobug  srl

eMail  lorenzo.dina@nobug.it
Tel    0645437677
Fax   0696046974
_________________________GM

[2017-06-13 04:00] sanketh95 commented on #20
I was. I seems like the issue was in the way I was putting my wireless card in monitor mode. The -I option to tshark was somehow unable to do it. However, I was able to manually put it in monitor mode using aircrack-ng. The script started working after that.

[2017-06-20 19:16] gutsle opened #34 "Cannot find any devices"
I've tried this with two machines now and I cannot find any devices with either. Is there some way to check if the wifi devices support monitor mode?

[2017-06-20 19:17] gutsle commented on #34
From iw phy:
[...]
	Supported interface modes:
		 * IBSS
		 * managed
		 * AP
		 * AP/VLAN
		 * monitor
[...]

[2017-06-20 19:34] gutsle commented on #34
So, something more than just the output of iw... ;)

[2017-06-20 19:40] schollz commented on #34
@gutsle Something similar happend with me, while my card says "monitor" is available, and I can run tshark, I get no output from tshark. I would try that as a method to see if really supports monitor mode.

That is:

[code]

That output will not be empty if your card really supports monitor mode. Also change `wlan0` to your interface.

[2017-06-20 19:53] gutsle commented on #34
The output is empty but the file has 2.4 K. I'm not sure how to interpret that.

[2017-06-22 00:21] willyb321 commented on #31
@schollz do you have any ETA on when this will be available? Thanks.

[2017-07-08 16:11] hunsbct opened #35 "No such command (analyze, loop, etc)"
When I try to use analyze or loop as per the instructions, it says no such command. Some of the other ones work, and when I pull up the help info, it only lists these:
[code]

Any ideas?

[2017-07-10 17:32] schollz commented on #35
Can you update it?

[code]

[2017-07-10 19:46] hunsbct commented on #35
Yup, that solved it. Thanks.

[2017-07-10 20:18] #35 closed

[2017-08-10 20:02] f00- commented on #10
the same paper schollz linked mentions sending a Request-to-Send (RTS) frame, if you already know the global MAC.

So if my phone's MAC is "00:01:02:03:04:05", i figure I could use scapy/libtins to send an RTS frame with "00:01:02:03:04:05" as the receiver address (RA). And the my phone, having this mac address, would reply with a Clear-to-Send (CTS) frame, so I would know it was in proximity.

Ma

[2017-08-23 12:55] victorhooi commented on #10
Hmm - that's 24 bits worth of MAC addresses to try.

2^24 = 16,777,216

That is an awful lot of MAC addresses to brute force...lol.

I'd like to see if there's a solution the MAC randomisation problem as well though.

[2017-08-28 05:16] adamsiem commented on #34
I have the same issue - with a TN722N plugged into my Raspberry Pi Zero.

I have three adapters visible in 'howmanypeoplearearound':

- lo (Local)
- wlan0 (Onboard Wifi)
- wlan1 (TN722N)

When I scan with wlan1 for 300 seconds - with an Apple iPhone SE several feet away searching for Wireless Networks - I get the result:

"Found no signals, are you sure wlan1 supports monitor mode?"

When I execut

[2017-08-29 16:10] adamsiem commented on #34
@gutsle Can you share your output from Wireshark?

I'm going to review my specific failure with Wireshark further. That seems to be the root of the issue.

[2017-08-30 02:46] adamsiem commented on #34
@gutsle @schollz

I'm still stuck on Wireshark - combing those forums.

My primary error is:

mode: Host name lookup failure

when I run the command:

'sudo ifconfig wlan1 mode monitor'

Thoughts on why that is happening?

[2017-09-11 22:00] adamsiem opened #36 "Raspbian Version Confirmed"
**On which version of Raspbian did you successfully install howmanypeoplearearound?**

On Raspbian Jessie - I was unable to get the proper permissions for tshark working AFTER a successful install.

On Raspbian Stretch - I am unable to successfully install with Docker OR pip.
The Docker command fails with: 'returned a non-zero code: 1'
The pip command is successful, but 'howmanypeoplearearound' is

[2017-09-30 12:56] schollz commented on #36
What version of pip are you using?

[2017-10-04 14:11] harshil2105 opened #38 "Video Tutorials"
It's basically self explanatory but still there are very less video explainations,kindly add some video Tutorials as there are many noobs and this project is very cool

[2017-10-04 14:29] harshil2105 commented on #38
I can only find this video with some proper explanation https://youtu.be/dLzouUfJyMM

[2017-10-04 21:40] schollz commented on #38
Thanks, this is a good request!

[2017-10-05 01:22] harshil2105 commented on #38
Boss you can add that video into your readme https://youtu.be/dLzouUfJyMM

[2017-10-06 13:32] #38 closed

[2017-10-06 13:33] schollz commented on #34
@adamsiem When did you buy your TN722N? The newer ones don't appear to support monitor mode :(

[2017-10-07 11:39] hector2 commented on #34
@adamsiem your Pi Zero has onboard wifi? Is the Pi Zero W right?
Try this image
https://whitedome.com.au/re4son/re4son-kernel/

It has nexmon patch, so you don't need the wifi dongle, you can use the onboard wifi in monitor mode on RPI3/RPI Zero W.
Steps:
- Download the image for Pi Zero W -> https://whitedome.com.au/re4son/download/kali-linux-armel-re4son/
- Flash the image in sd card
- That's it

[2017-10-07 13:03] prabodh1194 commented on #31
I'll take it up. Please explain how do we determine "a number of people"?

- Is it like stop recording new macs after 'n' unique macs have been registered?
- Or there is a pre-determined list of MACs to consider while plotting?

However, these two are logically same! What else?

[2017-10-07 13:44] prabodh1194 commented on #30
This looks really interesting. Adding another field to tshark parser "-e _ws.col.Info" also gives us an SSID of wifi. Will it help to parse this field too?

[2017-10-16 15:46] tomtom215 commented on #34
Noticing the same behavior with recently acquired t722. Was able to install aircrack-ng suite and run airmon-ng and it enabled wlan0mon on the t722.

Even when that was active, I tried howmanypeoplearearound (with and without sudo), stopped airmon but the mon interface was still up and showed as busy.

Seems like the adapter is fine but there's something up with howmanypeoplearearound forcing it i

[2018-03-13 21:03] pzajonc opened #39 "Windows with a Python 3 Anaconda/Spyder shell"
First, you may have no reason to support this environment.  If not, feel free to close and resolve.  I am testing it because I am curious only.  Thanks, -Pete

But I did want see the package and was able to run the install in the Spyder IDE using

Following was then run and output is not informative:

Out[13]: <module 'howmanypeoplearearound' from 'C:\\Users\\Peter\\Anaconda3\\lib\\site-packages\\

[2018-04-06 07:07] henkdebruijn commented on #36
I had the same error 'howmanypeoplearearound: command not found`. Adding sudo to `pip install howmanypeoplearearound` instead worked for me on Raspbian Stretch.

[2018-05-05 19:44] PythonicCoder101 opened #40 "No Module Named _Curses - Linux"
Hi I am running linux and the program called howmanypeoplearearound seems to respond with:

Traceback (most recent call last):
  File "/usr/local/bin/howmanypeoplearearound", line 11, in <module>
    load_entry_point('howmanypeoplearearound==0.4.0', 'console_scripts', 'howmanypeoplearearound')()
  File "/usr/local/lib/python3.6/site-packages/pkg_resources/__init__.py", line 565, in load_entry_poin

[2018-05-05 22:50] kres0345 commented on #40
What version of python do you use, have you installed all the requirements
etc
?

lør. 5. maj 2018 9.44 PM skrev PythonicCoder101 <notifications@github.com>:

[2018-05-06 19:49] PythonicCoder101 commented on #40
Hello. I am using python 3 as shown in the output logs of file error location. And I have installed the program using the pip installation method, "pip install howmanypeoplearearound"

[2018-05-07 04:48] kres0345 commented on #40
Try typing pip -V

søn. 6. maj 2018 9.49 PM skrev PythonicCoder101 <notifications@github.com>:

[2018-05-08 02:03] PythonicCoder101 commented on #40
Hello again,
I have ran the command and gotten the result, pip version 10.0.0.1 - python 3.6

[2018-05-08 04:02] kres0345 commented on #40
Ok, the last few commands I've sent simply were to confirm you had the
correct version of python and pip, since it were correct, can you then try
to reinstall it?

tir. 8. maj 2018 4.03 AM skrev PythonicCoder101 <notifications@github.com>:

[2018-07-05 15:17] allnash commented on #10
Yeah, I think they all randomize MACs. What I have found with my testing is that the real Mac address will be included in the list of addresses captured. Unfortunately the wildcard filter does not help with uniques.

[2018-07-05 15:21] allnash commented on #30
I have a similar technique implemented.

Here is a cheatsheet to the list of filters.

https://www.semfionetworks.com/uploads/2/9/8/3/29831147/wireshark_802.11_filters_-_reference_sheet.pdf

[2018-07-06 02:46] allnash commented on #36
This failure is not related to this library. I recommend installing python dev libs. I just tested and it works.

[2018-08-02 14:16] schollz commented on #10
@Timru Thats cool, thanks! Do you know if tshark can extract that information?

[2018-08-02 14:55] Timru commented on #10
I'm using scapy to capture packets but i'm sure tshark should be able too. You have to filter for packets with type = 1 and subtype = 12 (CTS).... type = 1 & subtype 11 is RTS. I've also looked into your code regarding device counting and you should include 'unkown' types in your filter because many chinese manufacturers dont have a officially registered oui but a private one.

I'm working on an a

[2018-08-02 15:23] schollz commented on #10
@Timru Do the RTS/CTS messages also have RSSI information?

[2018-08-02 15:53] Timru commented on #10
I will look later into it... Personally i'm not a huge fan of RSSI information because of the variance after certain distance. Interestingly you can also use RTS/CTS for indoor localization which can be achieved by comparing timestamp information in the packets in contrast to RSSI strength. See http://www.ece.umd.edu/~zcui/Publications/Mobiquitous2015.pdf

[2018-10-10 02:04] captainhowdy1 opened #41 "TargetMacs"
Is there a way to have the JSON output print names of devices that I manually input into a seperate file?
For example, if I know that my android has a mac address of 1A:DC:5C:8E:15:7B, could I manually configure a file for the script to refer to so that while running it would associate 1A:DC:5C:8E:15:7B with "myandroid" and print out the name "myandroid" for me to quickly recognize rather than the

[2018-10-10 04:33] schollz commented on #41
You can use `--targetmacs`

[2018-10-10 04:50] captainhowdy1 commented on #41
Thank you for the response!
Is there a template that I am missing that would have the format I would
need. I am having a hard time creating a file that the script understands
from scratch.
"Macaddress"="nickname" in .txt format is the basic structure I've tried

On Tue, Oct 9, 2018, 11:33 PM Zack <notifications@github.com> wrote:

[2018-10-10 14:00] schollz commented on #41
Oh, sorry I misunderstood your question. There is no way to do that in howmanypeoplearearound.

You can make sure that it only detects `1A:DC:5C:8E:15:7B` by making a file and passing it with that mac.

E.g.

`howmanypeoplearearound --targetmacs macs.txt`

And `macs.txt`:

[code]

You could easily do that in post-processing though, via sed or something.

[2019-01-17 18:04] cynddl commented on #4
Actually, collecting MAC addresses in the EU now falls under the GDPR regulation, as personal data. Indeed, a MAC address is directly associated with a device and their owner can easily be identified (uniquely).

Therefore, collecting and storing MAC addresses requires _explicit_ consent from users on the network. Pseudonymizing MAC addresses is also not enough.

[2019-01-17 18:38] mcandre opened #44 "Enhancement: OpenCV antenna counting"
WiFi signals are also bent in specific ways by physical objects. Could we access the antenna directly and use something like OpenCV to count people nearby?

[2019-01-17 20:19] john-patterson commented on #4
@cynddl Like most people in this thread, I am not a lawyer. There's a clause for being engaged in personal versus commercial pursuits in GDPR.

According to https://www.itgovernance.eu/blog/en/does-the-gdpr-apply-to-me:

    The one caveat to that that the GDPR does not apply to people processing personal data in the course
    of exclusively personal or household activity. This means you wouldn’t

[2019-01-17 21:12] chrisnicola commented on #4
@cynddl would hashing them be sufficient? I'm assuming the problem here is to just count the number of unique ones.

[2019-01-17 22:05] cynddl commented on #4
Hashing is generally not a good solution because:
1. hashing does _pseudonymize_ the MAC addresses, but does not _anonymize_ them. If an adversary knows the algorithm you use to hash MAC addresses, they can iterate through all possible MAC addresses until they find the one that matches a hash,
2. even if the hash cannot be reversed, an attacker knowing you were the only person in the office at 7am

[2019-01-18 13:51] kingosticks commented on #36
Regarding pip on Stretch:
Isn't this because in newer versions of pip, `pip install foo` (without `sudo` prefix) does what `pip install --user foo` used to do and installs foo into `~/.local/bin`, which is usually *not* on the user's `$PATH` in Debian/Ubuntu? The best fix is to add the directory to your $PATH.

[2019-01-21 19:36] aditisrinivas97 opened #47 "Create a multi-platform Docker image"
Create a multi-platform docker image that is capable of running on different OS. This can be done using image manifests.

[2019-01-21 21:12] schollz commented on #47
Different than https://github.com/schollz/howmanypeoplearearound/blob/master/README.md#docker-alternative
?

[2019-01-22 14:32] schollz commented on #47
Sounds good. I'm not the one to do this though because I don't have Mac OS.

[2019-01-27 11:45] aditisrinivas97 commented on #47
Hey, on second thoughts, all you need to do is publish the built image on Dockerhub. I can do it but If I if I do, I'll be the owner of the image. If you want me to do it, I can publish it and update the README. Let me know what works for you.

[2019-02-08 06:10] juergenhoetzel commented on #40
looks like you installed a self-compiled version of python which doesn't have curses support.
Most likely `ncurses-devel` (Header files) is missing on your system.

[2019-02-18 22:50] mwargan commented on #4
@cynddl does this mean that we can not use this tool to understand traffic in say, a restaurant (with the restaurant/network owners consent)? Would you think there any way that this tool could be implemented in such a use case?

[2019-02-19 15:35] mwargan commented on #4
Thanks for the links! Maybe this is more of an analytics problem, but I don't see the difference between the two. Could you explain what you mean? If I collect the number of devices at a given timestamp, or collect the individual MAC's and then calculate the device count at a given time, I end up with the same result. I don't see how storing a MAC address could be beneficial.

[2019-02-19 15:45] cynddl commented on #4
First case: every second, you collect the list of MAC addresses, then compute the length of that list and store to disk `timestamp, # of unique addresses`. There's no personal data stored.

Second case: every second, you collect the list of MAC addresses and store it to the disk with a timestamp. Every night, you load all the lists in the past 24h, compute the list of unique addresses and store th

[2019-02-19 15:48] mwargan commented on #4
@cynddl oh sure, I understand that! Just curious as to why it could be beneficial to store the MAC address in the first place - from a marketing/analytical point of view, it provides no added benefit as I see it.

I'm thinking of pushing a pull request with maybe a flag option `--gdpr` to automatically run the script in a GDPR compliant way. Would you be in on helping out?

[2019-02-20 14:14] mwargan commented on #31
@prabodh1194 not sure if you could still take this up, but it be great if we could just get a count and discard the MAC addresses all together - this way we enforce GDPR privacy laws and don't track or store MAC addresses and only collect the count of people at a given time.

[2019-02-20 14:33] mwargan opened #50 "Flag to only collect count of people and be GDPR compliant?"
Related: https://github.com/schollz/howmanypeoplearearound/issues/31 and
https://github.com/schollz/howmanypeoplearearound/issues/4

Would it be possible to add a flag so we do NOT store MAC addresses, and only see an aggregate count of devices at a given timestamp? The program is great, but as it stands, can not be used on public networks in Europe over GDPR compliancy :/

[2019-02-21 00:40] mwargan commented on #50
Ok so not a flag, but I did create a fork and comment out the MAC for GDPR line 250: https://github.com/mwargan/howmanypeoplearearound/blob/master/howmanypeoplearearound/__main__.py

[2019-02-21 17:48] AlexNaga commented on #50
How about hashing the MAC address before storing it? This would make each user anonymous.

However, if privacy also is of concern adding today's date (or today's date + hour) to the MAC address before hashing it, would solve the issue with the hash still being a unique ID of the MAC address.

As a result, it would only be possible to track each user for a day or hour.

[2019-02-21 18:02] mwargan commented on #50
Hey @AlexNaga! I think that hashing the MAC would make it not anonymous but pseudoanonymous, which means that it could be reversed engineered with more information (like the hashing algorithm).

Your idea to add the date is a good one as well, but the same data can be achieved by just setting a longer scan time, like `-s 3600`, which would be a safer option as it won't store any MAC address.

But

[2019-05-21 16:14] stipe42 commented on #10
We did wifi tracking at a major fair with 60k people a day with 4 raspis monitoring probe requests, last month. We captured more than 4.5 million packets and found that 80% of all MAC addresses were randomized.

[2019-07-09 15:21] brasdata commented on #10
stripe42 could you give us details on your rpi setup, we would like to run some tests at an upcoming event.

[2019-07-16 21:18] feochoa commented on #10
@timru it appears you couldn't perform RTS/CTS attack targeting Global MAC as per your paper https://ieeexplore.ieee.org/abstract/document/8730828
It is odd that Martin et al claim to have a 100% success even in randomized devices.

[2019-07-16 21:52] Timru commented on #10
@feochoa
It depends how you define 100% success... I tried the attack and the devices only respond upon sending a probe request containing the real device MAC. In this case, we would see the device anyway over the probe request and wouldn't need the RTS/CTS packets in the first place. To me it looks like Martin el al spammed RTS messages to global MAC of devices and received CTS responses without

[2019-07-22 11:41] ahmedcharef commented on #10
Do you have any code for RTS/CTS attack, any py package different from scapy to perform this attack ?
We can collaborate and work together to make it, i'm working in this attack since January ..

[2019-07-23 20:09] feochoa commented on #10
I think the best way to address this issue is to fake hundreds of common APs SSID to force the phone to drop the real MAC
 like https://null-byte.wonderhowto.com/how-to/use-esp8266-beacon-spammer-track-smartphone-users-0187599/

[2019-07-23 20:23] Timru commented on #10
Like the article states this is a Karma attack which is likely unlawful in business oriented use cases like crowd counting.

I tried the attack both with SCAPY and its C++ equivalent libtins with no real success besides getting responses upon sending out a probe request by the device. For the code i would have to check some old repos.

[2019-07-24 08:10] ahmedcharef commented on #10
@Timru I have tried the RTS/CTS attack but different phones not detected, do you know how to calculate the duration of RTS send ?

[2019-07-24 19:37] feochoa commented on #10
@Timru I agree that this is the first step of Karma attack, but you can also perform a DoS attack with RTS packets which is unlawful too. In my opinion, the key here is the ethics of the implementation. Cheers.

[2019-07-26 09:14] ahmedcharef commented on #10
Do you have any useful scripts to do that ?

[2019-08-14 16:19] satwikkansal opened #53 "Am I missing any step?"
Hi, I was trying to use this on my mac osx. And here's what I did.

1. Connected to wifi
2. Ran
[code]
3. Installed the pip package, and ran `howmanypeoplearearound`

I see a very big list of options

<img width="574" alt="image" src="https://user-images.githubusercontent.com/10217535/63037607-04421400-bedd-11e9-9a7c-24d2919cc43b.png">

I'm not sure which one is my wifi adapter that supports monit

[2019-10-03 20:21] SeanLiver commented on #53
Did you figure it out?

[2019-10-03 21:11] SeanLiver commented on #53
You can have a try on "networksetup -listallhardwareports" to check which one is your wifi port.

[2019-10-27 21:14] mathematicalmichael commented on #53
for me, the `cask` command conflicted with wireshark, so it didn't work. But that was okay.
I needed to change permissions with `sudo chmod o+r /dev/bpf*` and then selecting `en1` finally started to work.

[2019-11-06 18:23] buremba commented on #50
@mwargan you can use Hyperloglog algorithm and push the mac IPs into the hash function for the minimum interval that you want to calculate. If you can create a Hyperloglog instance for each minute and merge them for creating rollups of hour, day or even month. Here is an example implementation in Python: https://github.com/svpcom/hyperloglog

[2019-11-25 08:39] matteopeluso commented on #10
Hello, did we had some improvements on the management of the random MAC addresses?

[2019-11-26 01:00] feochoa commented on #10
@matteopeluso maybe it can help
https://arxiv.org/abs/1906.02686

[2020-02-01 19:07] DP-M commented on #10
In the [naval academy](https://arxiv.org/pdf/1703.02874v1.pdf) paper, I believe they said there is a vendor specific Information Element in the management frame of the probe request which sends a unique value tied to that phone, but I haven't been able to find any other reference to that anywhere else on the interwebz... Am I interpreting that correctly?

Specifically, they said:

For my use case

[2020-02-07 14:57] stryngs commented on #4
So, I saw this thread and I had to run my mouth about it.  @kootenpv it is 100% legal in the United States to sniff in Monitor Mode under 18 USC 2511.  The caveat is that you may not attempt to decrypt anything encrypted.

The GDPR can blow itself.  Worse piece of European legislation ever written and I'm proud to say that I willingly violate the hell out of the GDPR's wifi rules.  They hath no po

[2020-03-21 19:02] maximousblk opened #57 "UnicodeDecodeError"
![error](https://user-images.githubusercontent.com/28438021/77234431-66ca6380-6bd4-11ea-8f45-e66dc1e3fd60.png)

that is the error i'm getting. I installed it using pip and that's it. Is there anything else required?

[2020-05-21 04:13] arihantdaga commented on #10
Hello Guys, I wanted to use this for tracking mass gathering in an area during Covid 19 periods and i too faced this issue, almost all my android/ios mobiles are using randomized Mac Ids now. So even if I have only one phone, it'll be counted as 4-5 or 10. The mac address keeps changing randomly when it is not connected to any network. Is there any solution to this problem?

[2020-05-21 21:52] Timru commented on #10
Hey, back when i did my thesis on this i talked to two companies specialized in WiFi tracking/counting and they told me that its not possible to overcome randomization. They get very accurate results using statistical analysis and prediction methods mostly using the vendor identification. Or you simply estimate crowd size based on devices that are not using randomization. So if 10% of your devices

[2020-05-24 05:45] arihantdaga commented on #10
@Timru thanks very much

[2020-05-26 16:21] rgerganov opened #58 "Add another method based on BTLE and contact tracing"
We can also exploit the contact tracing being added to iOS and Android to answer the question "how many people are around?". Cell phones are transmitting ephemeral IDs with BTLE and we can sniff that with `tshark`. I have described the method here:

https://xakcop.com/post/how-many-people/

If you think this fits into the project, I can start working on a PR :)

[2020-06-08 02:58] ikeyany commented on #34
@gutsle You need to first create the monitor mode interface with

`$ iw phy wlan0 interface add mon1 type monitor`

and then actually turn it on with:

`$ ifconfig mon1 up`

[2020-10-06 17:08] gvivekchary commented on #10
Can anyone help in sample code for RTS/CTS attack or i want to send RTS frame with one ESP32 and i want a nearest mobile or another ESP32 have to respond with CTS Frame. Can i get any basic code to start with. I got all the theory but not able to figure out the code

[2020-12-17 05:55] gururise commented on #10
With mac address randomization on a significant number of devices now, since the code is only scanning for particular oui's, we are probably grossly underestimating the number of people around.

[2021-02-17 22:34] JoseDeFreitas commented on #57
Hello. I'm facing the same issue (just after running `howmanypeoplearearound`) but instead at position 6272 (Windows 10. Installed it through pip).

[2021-02-24 21:34] Ruslannnn commented on #57
Hi, In my cp1521 I have same error, but with 0x98. It is because there is no 0x98 char in cp1251.
In oui.py I tried to change line 23
`    with open(to_file, 'wb') as oui_file:`
to
    `with open(to_file, 'wb',encoding='utf-8') as oui_file:`
but it doesn't help me too.

So I just commented line 20 in oui.py
   ` #uri = 'http://standards-oui.ieee.org/oui/oui.txt'`
but still have a problem.

Next st

[2021-03-06 06:00] krigern opened #59 "Q"

[2021-05-04 15:21] mrquincle commented on #4
Old issue, but perhaps still nice to know.

A municipality (Enschede, Netherlands) got fined 600.000 euro for using MAC addresses to do crowd monitoring. The MAC addresses where not only hashed, but also salted and stored for limited time duration. According to the Dutch Data Protection Authority it doesn't matter because the company might know the hash function and salt and can bruteforce stuff.

[2021-05-04 16:25] mwargan commented on #4
@mrquincle very interesting... [This article](https://deciliiter.com/2021/04/29/privacy-watchdog-imposes-a-fine-of-600000-euros-on-enschede-for-wi-fi-tracking/) said " It does let us know that the method has now been adjusted, so that data, among other things, is not stored for longer than 24 hours." - was their data being store for more than 24 hours before?

Is this is also a function of time -

[2021-05-04 17:09] mrquincle commented on #4
If you can read Dutch [here](https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/internet-telefoon-tv-en-post/internet-en-telecom#mag-ik-als-bedrijf-wifitracking-en-bluetoothtracking-inzetten-6957) the Dutch Data Protection Authority describes some of the conditions (such as that a hash and a salt are insufficient).

The company behind this had [this statement](https://www.rmc.nl/gemeente-ensched

[2021-05-05 02:18] stryngs commented on #4
You are absolutely 100% incorrect with this statement.  The legality or illegality of such matters depends on the Country, State and Locality.  I as an example live in America and very far from the Ninth Circuit.  I can sniff all the packets I want, all day long.  Management, Control and Data, 100% there for the taking.

What matters in this regard is that I do not attempt to decrypt that which I

[2021-05-05 02:19] stryngs commented on #4
Title 18, 2511 is 100% your friend in this regard.  Depending on where in the USA you may reside at I would read the opinion of Joffe v Google for guidance as to how the Ninth Circuit views this.

[2021-10-28 16:53] kevholmes commented on #47
@schollz Hey - I just saw this issue and was thinking it could be implemented using a GitHub [container repo](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry) combined with GitHub Actions. I could write an action that runs when you cut a release in GitHub with a semver. We could build the docker image in an Actions runner and push it